:root {
	--header-col: #f2007d;
	--button-col: #e34262;

	--lightmode-text-lightbg-muted: #222222;
	--lightmode-text-lightbg: black;

	--red-bg-readable: #ff6262;

	--yellow-bg-readable: #ffffbc;

	--blue-bg: #172872;
	--blue-readable-bg: #a9b8fd;
}