@import "fonts";
@import "colors";

body,
html {
	font-family: var(--primary-font);
	padding: 0;
	margin: 0;
	height: 100%;
	image-rendering: pixelated;
	background-image: url('/img/bg/space.gif');
}

.page {
	padding: 12px;
	background: #FFF;
	border: 0;
	width: 100%;
	margin-top: 0;
	height: auto;
	box-sizing: border-box;
	flex-grow: 1;
}

.wrapper {
	border: 6px ridge;
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	box-sizing: border-box;
}

.content {
    padding: 12px;
}

header {
	border-bottom: 6px ridge;
	height: 160px;
	box-sizing: border-box;
	background-image: url('/img/bg/magic_lagoon.gif');
	position: relative;
}

.main {
	display: flex;
}

.side {
	border-right: 6px ridge;
	width: 20%;
	padding: 12px;
	box-sizing: border-box;
	background: var(--blue-bg);
	color: white;
}

.button {
	display: block;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-family: var(--secondary-font);
	font-size: 16px;
	background-color: var(--button-col);
	background-image: url("/img/bg/happy_stars.png");
	border-radius: 5px;
	color: var(--lightmode-text-lightbg);
	text-decoration: none;
	text-shadow: 0 0 3px #FFF;
	letter-spacing: 1px;
	border: 1px solid #FF8301;
}

.button:hover {
	text-decoration: underline;
}

.wrapper-body {
	background-image: url('/img/bg/space.gif');
	background-repeat: repeat-x;
	background-position: bottom;
}

.character {
	position: absolute;
	top: 27px;
	right: 50px;
	height: 150px;
	scale: 2;
}

.title {
	padding-top: 20px;
	padding-left: 20px;
}

img {
	max-width: 100%;
}

footer {
	border-top: 6px ridge;
	min-height: 64px;
	background-image: url("/img/bg/purple_clouds.png");
	text-align: center;
	color: aliceblue;
	text-shadow: 1px 1px 2px darkorchid;

	p {
		margin: 0;
	}
}

footer {
	color: aliceblue;
	margin: 0;
}

footer::after {
	/* color: aliceblue;
	margin: 0; */
	content: "Icons from Pixel Icon Library by HackerNoon";
}

.menu {
	border-style: dotted;
	margin-top: 1lh;
	margin-bottom: 1lh;

	border-radius: 10px;
}

.menu::before {
	display: block;
	content: attr(name);
	border-bottom-style: dotted;
	text-align: center;
}

.menuitem {
	margin: 5px;
}

.rainbow-bg {
	--brightness: 0.8;
	background:
		linear-gradient(217deg, rgb(255 0 0 / var(--brightness)), transparent 70.71%),
		linear-gradient(127deg, rgb(0 255 0 / var(--brightness)), transparent 70.71%),
		linear-gradient(336deg, rgb(0 0 255 / var(--brightness)), transparent 70.71%);
}

.marquee {
	--s: 150px; /* size of the images */
	--d: 25s; /* animation duration */
	--n: 12; /* number of visible images */

	display: flex;
	overflow: hidden;
}
img {
	width: var(--s);
	offset: shape(from calc(var(--s)/-2) 50%,hline by calc(sibling-count()*max(100%/var(--n),var(--s))));
	animation: x var(--d) linear infinite calc(-1*sibling-index()*var(--d)/sibling-count());
}
@keyframes x { 
	to { offset-distance: 100%; }
}