@import "style";

.section-entry {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 36px;
    margin-bottom: 64px;

    background: var(--blue-readable-bg);
    border: 6px ridge;
    box-sizing: border-box;
    padding: 12px;

    p {
        margin: 0;
    }
}

p.entry-date {
    display: inline;
}

.entry-date+.entry-updated {
    color: var(--lightmode-text-lightbg-muted);
    font-style: italic;
    font-size: smaller;
    display: inline;
}