{% import "macros/types.html" as types %}
{% import "macros/uf/classes.html" as cls %}

{% macro profile(first="", last="", username="", gender="", pronouns="", email="", url="", pfp="", bday="", schema="") %}
    <div class="{{-cls::profile()-}}" {{ schema | safe }} typeof="Person">
        {% if first and last %}
            <meta class="{{-cls::name()-}}" property="givenName name" content="{{ first }} {{ last }}"/>
        {% endif %}
        {% if first %} <meta class="{{-cls::given_name()-}}" content="{{ first }}"/> {% endif %}
        {% if last %} <meta class="{{-cls::family_name()-}}" property="familyName" content="{{ last }}"/> {% endif %}
        {% if username %} <meta class="{{-cls::nickname()-}}" content="{{ username }}"/> {% endif %}
        {% if gender %} <meta class="p-gender-identity" property="gender" content="{{ gender }}"/> {% endif %}

        {% if bday %} {{ types::dt(date=bday, type="bday", visible=false) }} {% endif %}

        {% if url %}<meta class="{{-cls::url()-}} {{-cls::uid()-}}" property="url" content="{{ url | safe }}"/>{% endif %}
        {% if pfp %} <meta class="{{-cls::logo()-}}" property="image" content="{{ pfp | safe }}"/> {% endif %}
        {% if email %} <meta class="{{-cls::email()-}}" property="email" content="{{ email }}"/> {% endif %}
    </div>
{% endmacro profile %}
