{% import "macros/uf/classes.html" as cls %}

{%- macro dt(date, type, visible=true) -%}
    {%- if type == "bday" -%}
        {% set itemprop = "birthDate" %}
    {% elif type == "death" %}
        {% set itemprop = "deathDate" %}
    {%- endif -%}
    <time
        class="{{cls::dt(type=type)}}"
        datetime="{{ date | date(format='%Y-%m-%dT%H:%M:%SZ') }}"
        {% if itemprop is defined %} itemprop={{itemprop}} {% endif %}
    >
        {%- if visible -%} {{ date }} {%- endif -%}
    </time>
{%- endmacro dt -%}


{%- macro p(value, type) -%}
    <span class="p-{{type}} {{type}}">{{- value | safe -}}</span>,
{%- endmacro p -%}