{% import "macros/types.html" as types %}
{% import "macros/uf/types.html" as uf_types %}

{% macro strip(in) %}
    {{ in | replace(from="---",to="—") | replace(from="--", to="-") | replace(from="{",to="") | replace(from="}", to="") |
    safe }}
{% endmacro strip %}

{% macro book(author, title, publisher, year) %}
    {{ author }},
    <cite>{{ title }}</cite>,
    {{ publication }},
    {{ year }}
{% endmacro book %}

{% macro article(author, title, journal, volume, number, pages, year, month="") %}
    {{ author }},
    "{{ title }}",
    <em>{{ journal }}</em>,
    vol. {{ volume }},
    {{ number }},
    pp. {{ pages }},
    {% if month %}{{ month }}{% endif %}
    {{ year }}
{% endmacro article %}

{% macro online(title, author="", pubdate="", publisher="", year="", url="", urldate="") %}
    {% if author %}{{ author }} {% endif %}
    {% if pubdate -%}({{- urldate -}}){%- endif -%}
    "{{ title }}"
    {% if publisher %}{{ publisher }}{% endif %}
    {% if year %}{{ year }}{% endif %}
    {% if url %}{{ url }}{% endif %}
    {% if urldate %}<em>Accessed {{ urldate }}</em>{% endif %}
{% endmacro %}

{% macro inproceedings(author, title, booktitle, address, year, pages) %}
    {{ author }},
    "{{ title }},"
    in <cite>{{ booktitle }}</cite>,
    {{ address }},
    {{ year }},
    pp. {{ pages }}
{% endmacro inproceedings %}

{% macro manual(author, title, organization, address, year, edition="", month="") %}
    {{ author }},
    <cite>{{ title }}</cite>,
    {{ organization }},
    {{ address }},
    {% if edition %}{{ edition }},{% endif %}
    {% if month %}{{ month }}{% endif %}
    {{ year }}.
{% endmacro manual %}

{% macro thesis(author, title, type, address, year) %}
    {{ author }},
    "{{ title }},"
    {{ type }},
    {{ school }},
    {{ address }},
    {{ year }}
{% endmacro thesis %}

{% macro mastersthesis(author, title, address, year) %}
    {{ bib::thesis(author=author, title=title, type="M.S. Thesis", address=address, year=year) }}
{% endmacro mastersthesis %}

{% macro phdthesis(author, title, address, year) %}
    {{ bib::thesis(author=author, title=title, type="Ph.D. dissertation", address=address, year=year) }}
{% endmacro phdthesis %}

{% macro misc(title, author="", publisher="", year="", doi="", url="") %}
    {% if author %}{{ author }},{% endif %}
    {{ title }},
    {% if publisher %}{{ publisher }},{% endif %}
    {% if year %}{{ year }},{% endif %}
    {% if doi %}
        {{ doi }}
    {% elif url %}
        {{ url }}
    {% endif %}
{% endmacro misc %}

{% macro bibref(bibliography,num) %}
    {# Get reference properties #}
    {% set author = bibliography.tags | get(key="author", default="") %}
    {% set title = bibliography.tags | get(key="title", default="") %}
    {% set pubdate = bibliography.tags | get(key="pubdate", default="") %}
    {% set publisher = bibliography.tags | get(key="publisher", default="") %}
    {% set organization = bibliography.tags | get(key="organization", default="") %}
    {% set address = bibliography.tags | get(key="address", default="") %}
    {% set journal = bibliography.tags | get(key="journal", default="") %}
    {% set edition = bibliography.tags | get(key="edition", default="") %}
    {% set volume = bibliography.tags | get(key="volume", default="") %}
    {% set number = bibliography.tags | get(key="number", default="") %}
    {% set booktitle = bibliography.tags | get(key="booktitle", default="") %}
    {% set doi = bibliography.tags | get(key="doi", default="") %}
    {% set pages = bibliography.tags | get(key="pages", default="") %}
    {% set year = bibliography.tags | get(key="year", default="") %}
    {% set month = bibliography.tags | get(key="month", default="") %}
    {% set url = bibliography.tags | get(key="url", default="") %}
    {% set urldate = bibliography.tags | get(key="urldate", default="") %}

    {# Markup reference properties #}
    {% if author %} {% set author = types::author(name=author) %} {% endif %}

    {% if title %} {% set title = '<span property="headline" class="p-name name">' ~ title ~ '</span>' | safe %} {% endif %}

    {% if pubdate %} {% set pubdate = types::dt(date=pubdate, type="published") %} {% endif %}

    {% if doi %} {% set doi = '<a href="https://doi.org/' ~ doi ~ '" class="u-url url" rel="sameAs">' ~ doi ~ '</a>' %} {% endif %}

    {% if url %} {% set url = '<a href="' ~ url ~ '" target="_blank" class="u-url url" rel="sameAs">' ~ url ~ '</a>' %} {% endif %}
    {% if urldate %} {% set urldate = types::dt(date=urldate, type="accessed") %} {% endif %}

    <span property="citation" typeof="CreativeWork">
        {% if bibliography.entry_type == "book" %}
            {{ bib::book(author=author, title=title, publisher=publisher, year=year) }}
        {% elif bibliography.entry_type == "article" %}
            {{ bib::article(author=author, title=title, journal=journal, volume=volume, number=number, pages=pages, year=year, month=month) }}
        {% elif bibliography.entry_type == "online" %}
            {{ bib::online(title=title, author=author, pubdate=pubdate, publisher=publisher, year=year, url=url, urldate=urldate) }}
        {% elif bibliography.entry_type == "inproceedings" %}
            {{ bib::inproceedings(author=author, title=title, booktitle=booktitle, address=address, year=year, pages=pages) }}
        {% elif bibliography.entry_type == "misc" %}
            {{ bib::misc(title=title, author=author, publisher=publisher, year=year, doi=doi, url=url) }}
        {% elif bibliography.entry_type == "mastersthesis" %}
            {{ bib::mastersthesis(author=author, title=title, address=address, year=year) }}
        {% elif bibliography.entry_type == "phdthesis" %}
            {{ bib::phdthesis(author=author, title=title, address=address, year=year) }}
        {% elif bibliography.entry_type == "manual" %}
            {{ bib::manual(author=author, title=title, organization=organization, address=address, year=year, edition=edition, month=month) }}
        {# TODO: {% elif bibliography.entry_type == "githubissue" %}
            {{ bib::githubissue(ref=bibliography) }} #}
        {% else %}
            unsupported reference type
        {% endif %}
    </span>
{% endmacro bibref %}

{% macro ref(bibliography,num) %}
    <dt class="ref-num" id="bibref-{{ bibliography.citation_key }}">[{{ num }}]</dt>
    <dd>{{ bib::strip(in=bib::bibref(bibliography=bibliography,num=num)) }}</dd>
{% endmacro ref %}

{% macro refs_list(page) %}
    {% if page.colocated_path %}
        {% set citations = load_data(path=page.colocated_path ~ "references.bib", format="bibtex", required=false) %}
        {% if citations %}
            <details id="references">
                {% set has_references = citations.bibliographies | length > 0 %}
                {% if has_references %}
                    <summary>
                        <h2>
                            References
                        </h2>
                    </summary>
                    <dl>
                        {% for citation in citations.bibliographies %}
                            {{ bib::ref(bibliography=citation,num=loop.index) }}
                        {% endfor %}
                    </dl>
                {% endif %}
            </details>
        {% endif %}
    {% endif %}
{% endmacro refs_list %}