{% import "macros/utils.html" as utils %}

{% macro metadata(url, img="", title="", desc="") %}
    <meta property="twitter:url" content="{{ url | safe }}">
    <meta property="twitter:domain" content="{{ config.base_url | safe }}">

    {% if img %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ img | safe }}">
    {% endif %}

    {% if title %}
        <meta name="twitter:title" content="{{ title }}">
    {% endif %}

    {% if desc %}
        <meta name="twitter:description" content="{{ desc | striptags }}">
    {% endif %}
{% endmacro metadata %}