{% import "macros/uf/types.html" as uf_types %}


{%- macro dt(date, type, visible=true) -%}
    {% set type = type | lower %}

    {%- if type == "bday" -%}
        {% set prop = "birth" %}
    {% elif type == "death" %}
        {% set prop = "death" %}
    {% elif type == "updated" %}
        {% set prop = "modified" %}
    {%- endif -%}

    {% if prop is defined %}
        {% set prop = prop | capitalize %}
    {% endif %}

    <time
        class="{{cls::dt(type=type)}}"
        datetime="{{ date | date(format='%Y-%m-%dT%H:%M:%SZ') }}"
        {% if prop is defined %} property="{{prop}}Date" {% endif %}
    >
        {%- if visible -%} {{ date }} {%- endif -%}
    </time>
{%- endmacro dt -%}


{% macro author(name="", url="", visible=true) %}
    {% if not name %} 
        {% set name = config.author %}
    {% endif %}
    {% if not url and name == config.author %}
        {% set url = config.base_url %}
    {% endif %}

    {% if url %}
        {% if name == config.author %}
            {% set rel = "author me" %}
        {% else %}
            {% set rel = "author" %}
        {% endif %}

        <address class="{{-cls::author()}} {{cls::profile()-}}" property="author" typeof="Person">
            <a 
                href="{{ url | safe }}"
                class="{{-cls::url()}}
                {%- if visible and name -%}{{cls::name()}}{%- endif -%}"
                rel="{{ rel }}"
                property="url"
                {% if not visible %}title="{{name}}"{% endif %}
            >
                {% if visible and name %}<span property="name">{{ name }}</span>{% endif %}
            </a>
        </address>

    {% else %}
        <{% if visible %}span{% else %}data{% endif %}
            property="author name" typeof="Person"
            class="{{-cls::author()}} {{cls::profile()}} {{cls::name()-}}"
        >
            {%- if visible -%}{{- name -}}{%- endif -%}
        </{% if visible %}span{% else %}data{% endif %}>
    {% endif %}
{% endmacro author %}

{% macro icon(fn, size=32) %}
<img src="/img/icon/{{fn}}" class="icon" width="{{size}}" height="{{size}}">
{% endmacro icon %}