{%- macro page_title(title="") -%}
    {%- if title and title != "{{ config.title }}" -%}
        {{ config.title }} | {{ title }}
    {%- else -%}
        {{ config.title }}
    {%- endif -%}
{%- endmacro page_title -%}

{% macro toc(toc) %}
    {# Require at least four headings for TOC to be generated #}
    {% if 4 <= toc | length %}
        <div typeof="BreadcrumbList">
            <h3 property="name">Table of Contents</h3>
            <ol>
            {% for h1 in toc %}
                <li property="itemListElement" typeof="ListItem">
                    <a rel="item" href="{{ h1.permalink | safe }}"><span property="name">{{ h1.title }}</span></a>
                    {% if h1.children %}
                        <ol typeof="BreadcrumbList">
                            {% for h2 in h1.children %}
                                <li property="itemListElement" typeof="ListItem">
                                    <a rel="item" href="{{ h2.permalink | safe }}"><span property="name">{{ h2.title }}</span></a>
                                    <meta property="position" content="2" />
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <meta property="position" content="1" />
                </li>
            {% endfor %}
            </ol>
            <img src="/img/div/happy-star.png" alt="">
        </div>
    {% endif %}
{% endmacro toc %}