{% macro page_title(title="") %}
{% if title and title != "Newt's Cove" -%}
Newt's Cove | {{ title }}
{% else %}
Newt's Cove
{% endif %}
{% endmacro page_title %}


{% macro author_url(name="", url="", visible=false) %}
<address class="p-author author h-card vcard">
    {% if not name %}
    {% set name = config.author %}
    {% endif %}

    {% if not url %}
    {% set url = config.base_url %}
    {% endif %}

    <a href="{{ url }}" class="u-url url p-name fn" rel="author">
        {% if visible and name %}
        {{ name }}
        {% endif %}
    </a>
</address>
{% endmacro author_url %}


{% macro time_published(pubdate) %}
<time class="dt-published published" datetime="{{ pubdate | date(format='%Y-%m-%dT%H:%M:%SZ') }}">{{ pubdate }}</time>
{% endmacro time_published %}