{% import "macros/utils.html" as utils %}
{% import "macros/bib.html" as bib %}
{% import "macros/types.html" as types %}
{% import "macros/uf/classes.html" as cls %}

{% extends "webpage.html" %}

{% block meta %}
    {{ super() }}

    {% set meta_date = "" %}
    {% set meta_updated = "" %}

    {% if page is defined %}
    {% set meta_date = page | get(key="date", default="") %}
    {% set meta_updated = page | get(key="updated", default="") %}
    {% endif %}

    {{ og::article(
    url=meta_url,
    title=meta_title,
    author=meta_author,
    desc=meta_desc,
    date=meta_date,
    updated=meta_updated
    ) }}
{% endblock meta %}

{% block og_type %}
    {{ og::type(value="article") }}
{% endblock og_type %}

{% block content %}
    <article class="{{cls::entry()}}" itemscope itemtype="https://schema.org/BlogPosting">
        <a class="{{cls::url()}}" href="{{ page.permalink }}"></a>
        {{ types::author(name=meta_author, url=config.base_url) }}

        <h2>
            <b>
                <span class="{{cls::title()}}" itemprop="headline">{{ page.title }}</span>
            </b>
        </h2>
        <h3>
            <em>
                {{ types::dt(date=page.date, type="published") }}
            </em>
        </h3>

        {% if page.toc %}
            {{ utils::toc(toc=page.toc) }}
        {% endif %}

        {% if page.draft %}
            <div class="markdown-alert-warning">
                {{"_This is a really really early DRAFT. Here be dragons._" | markdown | safe}}
            </div>
        {% endif %}

        <div class="{{cls::content()}}" itemprop="articleBody">
            {{ page.content | safe }}
        </div>
    </article>

    {{ bib::refs_list(page=page) }}
{% endblock content %}