{% import "macros/types.html" as types %}

{% extends "webpage.html" %}

{% block meta %}
    {{ super() }}

    {% set meta_date = "" %}
    {% set meta_updated = "" %}

    {% if page is defined %}
    {% set meta_date = page | get(key="date", default="") %}
    {% set meta_updated = page | get(key="updated", default="") %}
    {% endif %}

    {{ og::article(
    url=meta_url,
    title=meta_title,
    author=meta_author,
    desc=meta_desc,
    date=meta_date,
    updated=meta_updated
    ) }}
{% endblock meta %}

{% block og_type %}
    {{ og::type(value="article") }}
{% endblock og_type %}

{% block content %}
    <article
        class="{{-cls::entry()-}}"
        property="mainEntity"
        {% block schema %} typeof="Article" {% endblock schema %}
    >
        <h1 class="{{-cls::title()-}}" property="headline">
            <a
                class="{{-cls::url()-}}"
                {% block href %}
                    {% if current_url is defined %}
                        href="{{current_url | safe}}"
                    {% elif meta_url is defined %}
                        href="{{meta_url | safe}}"
                    {% endif %}
                {% endblock href %}
                property="url"
            >
                {% block title %} Unnamed Article {% endblock title %}
            </a>
        </h1>

        <p>
            {% block published %}
                <span class="entry-date">
                    {% block dt_published %}
                    {% endblock dt_published %}
                </span>
            {% endblock published %}

            {% block updated %}
                <small><span class="entry-updated">
                    {% block dt_updated %}
                    {% endblock dt_updated %}
                </span></small>
            {% endblock updated %}
        </p>

        {% block notes %} {% endblock notes %}

        <p class="{{-cls::summary()-}}" property="abstract">
            {% block desc %}
                {% if meta_desc is defined %}
                    {{ meta_desc }}
                {% endif %}
            {% endblock desc %}
        </p>

        {% block toc %}
        {% endblock toc %}

        <div class="{{-cls::content()-}}" property="articleBody">
            {% block body %} {% endblock body %}
        </div>

        {% block references %}
        {% endblock references %}
    </article>
{% endblock content %}
