{% import "macros.html" as macros %}

<!-- base template by teppyslayouts.neocities.org -->

<!DOCTYPE html>
<html>

<head>
    {% block style %}
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
    <link rel="stylesheet" type="text/css" href="/styles/writing.css">
    {% endblock style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ macros::meta_domain(value="newtbytes.cc") }}
    {% block url %} {{ macros::meta_url(value="https://newtbytes.cc") }} {% endblock url %}

    {% block author %}
    <meta name="author" content="newtbytes">
    {% endblock author %}

    {% block title %} {% endblock title %}
    {% block desc %}
    {{ macros::meta_desc(value="Newt's Cove is a personal website and blog by Ness Shannon, aka Newt,
    aka newbytes. It's a place where I share my passions for all things cool and weird on the web, including machine
    learning, game development, and more. This site is a work in progress, so stay tuned for creative musings and
    updates!") }}
    {% endblock desc %}
    {{ macros::meta_image(url=get_url(path='img/logo.png'), width=546, height=104, alt="Newt's Cove Logo") }}

    <meta name="keywords"
        content="Newt's Cove, Ness Shannon, newbytes, personal website, blog, machine learning, game development, creative writing, compiler, programming, web development, nerdy interests, WIP, under construction">

    <meta name="language" content="English">
    <meta property="og:locale" content="en_US">

    {% block opengraph %}
    <meta property="og:type" content="website">
    {% endblock opengraph %}

    <meta name="robots" content="index, follow">

    <script type="text/javascript" src="scripts/cursor.js"></script>
</head>

<body class="wrapper-body">
    <div class="wrapper">
        <div class="header">
            <div class="title">
                <img src="/img/logo.png">
            </div>

            <img src="/img/other/character.gif" class="character">
        </div>
        <div class="main">
            <div class="side">
                <div class="menu">
                    <a href="/" class="button">home</a>
                    <a href="/writing" class="button">writing</a>
                    <a href="/blog" class="button">blog</a>
                    <a href="/radar" class="button">radar</a>
                    <!-- <a href="/games" class="button">games</a> -->
                </div>

                <div class="blinkies">
                    <!-- goobers -->
                    <img src="/img/blink/cinnamoroll.webp">
                    <img src="/img/blink/lucario.gif">
                    <img src="/img/blink/eevee.gif">
                    <img src="/img/blink/raichu.gif">
                    <img src="/img/blink/rawr.gif">
                    <img src="/img/blink/silly.gif">
                    <img src="/img/blink/too_silly.gif">

                    <!-- games -->
                    <img src="/img/blink/hlfan.gif">
                    <img src="/img/blink/terraria.gif">

                    <!-- nerd interests -->
                    <img src="/img/blink/compsci_nerd.gif">
                    <img src="/img/blink/dream_in_vectors.gif">
                    <img src="/img/blink/love_computer.gif">
                    <img src="/img/blink/math.gif">

                    <img src="/img/blink/creative-Bear.gif">
                    <img src="/img/blink/antisocial.gif">
                    <img src="/img/blink/emoticons.gif">
                </div>
            </div>

            <div class="page">
                <div class="content">
                    {% block content %} {% endblock content %}
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="https://discord.gg/DNkEtrqZsY">Discord</a>
            <p>ness shannon ˖⁺‧₊˚✦ 2025-2026</p>
        </div>
    </div>
</body>

</html>