{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block title %} {{ macros::meta_title(title="Home") }} {% endblock title %}

{% block opengraph %}
{{ macros::meta_profile(
first="Ness",
last="Shannon",
username="newtbytes",
gender="female")
}}

{{ macros::hcard_profile(
first="Ness",
last="Shannon",
username="newtbytes",
gender="female",
email="ness@newtbytes.cc",
url="https://newtbytes.cc/",
pfp=get_url(path="img/pfp.png"),
bday="2007-9-19")
}}
{% endblock opengraph %}

{% block content %}
{{ section.content | safe }}
{% endblock content %}