{% import "macros/opengraph.html" as og %}
{% import "macros/h-card.html" as h_card %}

{% extends "webpage.html" %}

{% block metadata %}
{% set meta_url = current_url %}
{% set meta_title = "Home" %}
{% endblock metadata %}

{% block meta %}
{{ super() }}

{{ og::type(value="profile") }}

{{ og::profile(
first="Ness",
last="Shannon",
username="newtbytes",
gender="female")
}}

{% endblock opengraph %}

{% block content %}
{{ h_card::profile(
first="Ness",
last="Shannon",
username="newtbytes",
gender="female",
email="ness@newtbytes.cc",
url="https://newtbytes.cc/",
pfp=get_url(path="img/pfp.png"),
bday="2007-9-19")
}}

{{ section.content | safe }}
{% endblock content %}