{% macro meta_desc(desc) %}
<meta name="description" content="{{ desc }}">
<meta property="og:description" content="{{ desc }}">
<meta name="twitter:description" content="{{ desc }}">
{% endmacro input %}


{% macro meta_title(title) %}
<title>Newt's Cove | {{ title }}</title>
<meta property="og:title" content="Newt's Cove | {{ title }}">
<meta name="twitter:title" content="Newt's Cove | {{ title }}">
{% endmacro input %}


{% macro meta_image(path, alt) %}
{% set meta = get_image_metadata(path=path) %}
<meta property="og:image" content="{{ get_url(path=path) }}">
<meta property="og:image:width" content="{{ meta.width }}">
<meta property="og:image:height" content="{{ meta.height }}">
<meta property="og:image:alt" content="{{ alt }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ get_url(path=path) }}">
{% endmacro input %}


{% macro meta_domain(domain) %}
<meta property="og:site_name" content="{{ domain }}">
<meta property="twitter:domain" content="{{ domain }}">
{% endmacro meta_domain %}


{% macro meta_url(url) %}
<meta property="twitter:url" content="{{ url }}">
<meta property="og:url" content="{{ url }}">
<link rel="canonical" href="{{ url }}">
{% endmacro meta_url %}


{% macro meta_lang(lang, code) %}
<meta property="twitter:url" content="{{ url }}">
<meta property="og:url" content="{{ url }}">
<link rel="canonical" href="{{ url }}">
{% endmacro meta_url %}


{% macro meta_profile(first, last, username, gender) %}
<meta property="og:type" content="profile">
<meta property="og:profile:first_name" content="{{ first }}">
<meta property="og:profile:last_name" content="{{ last }}">
<meta property="og:profile:username" content="{{ username }}">
<meta property="og:profile:gender" content="{{ gender }}">
{% endmacro meta_profile %}


{% macro hcard_profile(first, last, username, gender, email, url, pfp, bday) %}
<data class="h-card">
    <data class="p-name">{{ first }} {{ last }}</data>
    <data class="p-given-name">{{ first }}</data>
    <data class="p-family-name">{{ last }}</data>
    <data class="p-nickname">{{ username }}</data>

    <data class="dt-bday">{{ bday }}</data> birthday

    <data class="u-url" value="{{ url }}">{{ url }}"</data>
    <data class="u-uid" value="{{ url }}">{{ url }}"</data>
    <data class="u-logo" value="{{ pfp }}">{{ pfp }}"</data>
    <data class="u-email" value="mailto:{{ email }}">{{ email }}</data>
</data>
{% endmacro hcard_profile %}


{% macro author_url(name="", url="", visible=false) %}
<address class="p-author author h-card vcard">
    {% if not name %}
    {% set name = config.author %}
    {% endif %}

    {% if not url %}
    {% set url = config.base_url %}
    {% endif %}

    <a href="{{ url }}" class="u-url url p-name fn" rel="author">
        {% if visible and name %}
        {{ name }}
        {% endif %}
    </a>
</address>
{% endmacro author_url %}

{% macro time_published(pubdate) %}
<time class="dt-published published" datetime="{{ pubdate | date(format='%Y-%m-%dT%H:%M:%SZ') }}">{{ pubdate }}</time>
{% endmacro time_published %}