{% import "macros/utils.html" as utils %}
{% import "macros/bib.html" as bib %}
{% import "macros/types.html" as types %}
{% import "macros/uf/classes.html" as cls %}

{% extends "article.html" %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block dt_published %}
    {{ types::dt(date=page.date, type="published") }}
{% endblock dt_published %}

{% block dt_updated %}
    (updated {{ types::dt(date=page.updated, type="updated") }})
{% endblock dt_updated %}

{% block published %}
    {% if page.date %}
        {{ super() }}
    {% endif %}
{% endblock published %}

{% block updated %}
    {% if page.updated %}
        {{ super() }}
    {% endif %}
{% endblock updated %}

{% block permalink %}
    {{ page.permalink }}
{% endblock permalink %}

{% block notes %}
    {% if page.draft %}
        <div class="markdown-alert-warning">
            {{"_This is a really really early DRAFT. Here be dragons._" | markdown | safe}}
        </div>
    {% endif %}
{% endblock notes %}

{% block desc %}
    {{ page.description }}
{% endblock desc %}

{% block toc %}
    {% if page.toc %}
        {{ utils::toc(toc=page.toc) }}
    {% endif %}
{% endblock toc %}

{% block body %}
    {{ page.content | safe }}
{% endblock body %}

{% block references %}
    {{ bib::refs_list(page=page) }}
{% endblock references %}
