{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/styles/section-index.css">
{% endblock style %}
{% block url %} {{ macros::meta_url(url=section.permalink | safe ) }} {% endblock url %}

{% if section.title %}
{% block title %} {{ macros::meta_title(title=section.title) }} {% endblock title %}
{% endif %}

{% block desc %}
{% if section.description %}
{{ macros::meta_desc(desc=section.description) }}
{% elif section.summary %}
{{ macros::meta_desc(desc=section.summary) }}
{% else %}
{{ super() }}
{% endif %}
{% endblock desc %}

{% block content %}

<h1 class="title">
    {{ section.title }}
</h1>

{{ section.description }}

{{ section.content | safe }}

{% for page in section.pages %}
<ol>
    <li class="entry">
        <p>
            {% if page.title %}
            <a class="entry-title" href="{{ page.permalink | safe }}"><b>{{ page.title }}</b></a>
            · · ·
            {% endif %}
            <span class="entry-date">{{ page.date }}</span>
            {% if page.updated %}
            <span class="entry-updated">(updated {{ page.updated }})</span>
            {% endif %}
        </p>

        {% if section.extra | get(key="link_pages", default=true) %}
        {% if page.summary %}
        {{ page.summary | safe }}
        <a class="continue-reading-link" href="{{ page.permalink }}#continue-reading">Continue Reading...</a>
        {% endif %}
        {% else %}
        {{ page.content | safe }}
        {% endif %}
    </li>
</ol>
{% endfor %}

{% endblock content %}