{% extends "base.html" %}

{% block title %} {{ section.title }} {% endblock title %}

{% block content %}

<h1 class="title">
    {{ section.title }}
</h1>

{{ section.description }}

{{ section.content | safe}}

<link rel="stylesheet" type="text/css" href="/styles/writing.css">

{% for page in section.pages %}
<ul>
    <!-- <div class="box">{{ page.content | safe }}</div> -->
    <li>
        <p>{{ page.date }} <a href="{{ page.permalink | safe }}">{{ page.title }}</a> </p>
    </li>
</ul>
{% endfor %}

{% endblock content %}