{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block url %} {{ macros::meta_url(url=page.permalink | safe) }} {% endblock url %}

{% block title %}
{% if page.title %}
{{ macros::meta_title(title=page.title) }}
{% else %}
{{ super() }}
{% endif %}
{% endblock title %}

{% block author %}
{% if page.authors %}
<meta name="author" content={{ page.authors | join(sep=", " ) }}>
{% else %}
{{ super() }}
{% endif %}
{% endblock author %}

{% block desc %}
{% if page.description %}
{{ macros::meta_desc(desc=page.description) }}
{% elif page.summary %}
{{ macros::meta_desc(desc=page.summary) }}
{% else %}
{{ super() }}
{% endif %}
{% endblock desc %}

{% block opengraph %}
{{macros::og_article(
author=page.authors | join(sep=", "),
desc=page.description,
date=page.date,
updated=page.updated
)}}
{% endblock opengraph %}

{% block content %}
<article class="h-entry">
    <a class="u-url" href="{{ page.permalink }}"></a>
    {{ macros::author_url() }}

    <h2>
        <b>
            <div class="title p-name">{{ page.title }}</div>
        </b>
    </h2>
    <h3>
        <em>
            {{ macros::time_published(pubdate=page.date) }}
        </em>
    </h3>

    <div class="e-content">
        {% if page.draft %}
        {{"### _**Notice**: This is a really really early DRAFT. Here be dragons._" | markdown | safe}}
        {% endif %}

        {{ page.content | safe }}
    </div>
</article>
{% endblock content %}