@font-face {
	font-family: 'PixelOperator';
	src: url("../fonts/PixelOperator.ttf");
}

@font-face {
	font-family: 'DTM Sans';
	src: url("../fonts/dtm-sans.ttf");
}

:root {
	--primary-font: 'PixelOperator', monospace;
	--secondary-font: 'DTM Sans'
}

body,
html {
	font-family: var(--primary-font);
	padding: 0;
	margin: 0;
	height: 100%;
	background-image: url('/img/bg/space.gif');
}

.page {
	padding: 12px;
	background: #FFF;
	border: 0;
	width: 100%;
	margin-top: 0;
	height: auto;
	box-sizing: border-box;
	flex-grow: 1;
}

img {
	max-width: 100%;
}

.wrapper {
	border: 6px ridge;
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	box-sizing: border-box;
}

.header {
	border-bottom: 6px ridge;
	height: 160px;
	box-sizing: border-box;
	background-image: url('/img/bg/magic_lagoon.gif');
	position: relative;
}

.main {
	display: flex;
}

.side {
	border-right: 6px ridge;
	width: 20%;
	padding: 12px;
	box-sizing: border-box;
	background: #172872;
	color: white;
}

.button {
	display: block;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 12px;
	font-family: var(--secondary-font);
	font-size: 16px;
	background-color: #e34262;
	background-image: url("/img/bg/happy_stars.png");
	border-radius: 5px;
	color: #000;
	text-decoration: none;
	text-shadow: 0 0 3px #FFF;
	letter-spacing: 1px;
	border: 1px solid #FF8301;
}

.button:hover {
	text-decoration: underline;
}

.wrapper-body {
	background-image: url('/img/bg/space.gif');
	background-repeat: repeat-x;
	background-position: bottom;
}

.character {
	position: absolute;
	top: 27px;
	right: 50px;
	height: 150px;
	scale: 2;
}

.title {
	padding-top: 20px;
	padding-left: 20px;
}

h1 {
	color: #f2007d;
	border-bottom: 1px dashed;
}

h2 {
	color: #f2007d;
}

a {
	color: blue;
}

.footer {
	border-top: 6px ridge;
	min-height: 64px;
	background-image: url("/img/bg/purple_clouds.png");
	text-align: center;

	p {
		color: aliceblue;
		size: 32px;
	}
}