@font-face {
	font-family: 'PixelOperator';
	src: url("../fonts/PixelOperator.ttf");
}

@font-face {
	font-family: 'DTM Sans';
	src: url("../fonts/dtm-sans.ttf");
}

:root {
	--primary-font: 'PixelOperator', monospace;
	--secondary-font: 'DTM Sans';

	--header-col: #f2007d;
	--button-col: #e34262;

	--blue-bg: #172872;
	--blue-readable-bg: #a9b8fd;

	--lightmode-text-lightbg-muted: #222222;
	--lightmode-text-lightbg: black;
}

body,
html {
	font-family: var(--primary-font);
	padding: 0;
	margin: 0;
	height: 100%;
	image-rendering: pixelated;
	background-image: url('/img/bg/space.gif');
}

.page {
	padding: 12px;
	background: #FFF;
	border: 0;
	width: 100%;
	margin-top: 0;
	height: auto;
	box-sizing: border-box;
	flex-grow: 1;
}

img {
	max-width: 100%;
}

.wrapper {
	border: 6px ridge;
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	box-sizing: border-box;
}

header {
	border-bottom: 6px ridge;
	height: 160px;
	box-sizing: border-box;
	background-image: url('/img/bg/magic_lagoon.gif');
	position: relative;
}

.main {
	display: flex;
}

.side {
	border-right: 6px ridge;
	width: 20%;
	padding: 12px;
	box-sizing: border-box;
	background: var(--blue-bg);
	color: white;
}

.button {
	display: block;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-family: var(--secondary-font);
	font-size: 16px;
	background-color: var(--button-col);
	background-image: url("/img/bg/happy_stars.png");
	border-radius: 5px;
	color: var(--lightmode-text-lightbg);
	text-decoration: none;
	text-shadow: 0 0 3px #FFF;
	letter-spacing: 1px;
	border: 1px solid #FF8301;
}

.button:hover {
	text-decoration: underline;
}

.wrapper-body {
	background-image: url('/img/bg/space.gif');
	background-repeat: repeat-x;
	background-position: bottom;
}

.character {
	position: absolute;
	top: 27px;
	right: 50px;
	height: 150px;
	scale: 2;
}

.title {
	padding-top: 20px;
	padding-left: 20px;
}

h1 {
	color: var(--header-col);
	border-bottom: 1px dashed;
}

h2 {
	color: var(--header-col);
}

a {
	color: blue;
}

footer {
	border-top: 6px ridge;
	min-height: 64px;
	background-image: url("/img/bg/purple_clouds.png");
	text-align: center;

	p {
		color: aliceblue;
		margin: 0;
	}
}

.marquee {
	--s: 150px; /* size of the images */
	--d: 25s; /* animation duration */
	--n: 12; /* number of visible images */

	display: flex;
	overflow: hidden;
}
img {
	width: var(--s);
	offset: shape(from calc(var(--s)/-2) 50%,hline by calc(sibling-count()*max(100%/var(--n),var(--s))));
	animation: x var(--d) linear infinite calc(-1*sibling-index()*var(--d)/sibling-count());
}
@keyframes x { 
	to { offset-distance: 100%; }
}

.menu {
	/* border-style: groove; */
}

.menuitem {
	margin-top: 5px;
	margin-bottom: 5px;
}