.content {
    padding: 12px;
}

h1 {
    color: #f2007d;
    border-bottom: 1px dashed;

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h2 {
    color: #f2007d;

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    font-size: medium;
}

.footnote-definition {
    .footnote-definition-label {
        font-size: smaller;
        margin: auto;
        position: relative;
    }

    p {
        font-size: smaller;
        margin: auto;
    }



    .sup {
        display: inline-block;
        margin-right: 0.5em;
        color: #ff2e88;
        font-size: inherit;
        font-weight: bold;
        vertical-align: baseline;

        &::before {
            content: "[";
        }

        &::after {
            content: "]";
        }
    }

    p:first-of-type {
        display: inline;
    }

    p:not(:first-of-type) {
        margin-top: 0.5em;
    }
}


.box {
    border-top: 6px ridge;
    border-right: 6px ridge;
    border-left: 6px ridge;
    border-bottom: 6px ridge;
    box-sizing: border-box;
    padding: 12px;
    background: papayawhip;
}

.entry-title {
    border: 6px ridge;
    background: coral;
    box-sizing: border-box;
    width: auto;
}

.clipboard-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    background-color: transparent;
    border: "#3D444D";
    border-radius: 3px;

    svg {
        fill: #9198A1;
        width: 16px;
        height: 16px;
    }
}

.light .clipboard-button {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
    background-color: #f3f3f3;
}

pre {
    background-color: var(#282828) !important;
    border-radius: 5px;
    border: none;
    line-height: 1.4;
    padding: 1em;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    margin-left: 4em;
    margin-right: 4em;

    code {
        background-color: transparent !important;
        color: inherit;
        border: none;
        padding: 0 !important;

        table td {
            padding: 0.4em;
        }
    }
}

.light code table td {
    color: #ffffff !important;
}

pre code table mark {
    color: unset;
    padding: 0;
    background-color: #204e8a !important;
    filter: brightness(1.1);
}

pre::-webkit-scrollbar {
    height: 8px;
}

pre::-webkit-scrollbar-thumb {
    background-color: #3D444D;
    border-radius: 4px;
}

pre::-webkit-scrollbar-track {
    background-color: #1E222A;
}

a {
    code:hover {
        background-color: transparent;
        background: transparent !important;
    }
}

code {
    background-color: var(#282828);
}

code,
pre,
kbd,
samp {
    font-size: 1.05em;
    /* slightly larger than the surrounding text */
    line-height: 1.6;
}