@import url("colors.css");
@import url("fonts.css");

body {
    font-family: var(--primary-font);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
}

h1 {
	color: var(--header-col);
	border-bottom: 1px dashed;
}

h2 {
	color: var(--header-col);
}

h1 {
    color: var(--header-col);
    border-bottom: 1px dashed;

    font-family: var(--secondary-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h2 {
    color: var(--header-col);

    font-family: var(--secondary-font);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

a {
	color: blue;
}

blockquote {
    border-left-width: 0.1em;
    border-left-style: groove;
    border-left-color: #3D444D;

    padding-left: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
}

.markdown-alert-note::before {
    display: inline-block;
    width: 1em;
    height: auto;
    line-break: loose;
    content: url("/img/icon/bookmark-solid.svg");
}

.markdown-alert-note {
    border-radius: 12px;
    border-style: ridge;

    border-top-color: hsl(var(--yellow-bg-readable) h 90% 90%);
    border-right-color: hsl(var(--yellow-bg-readable) h 90% 90%);
    border-left-color: hsl(var(--yellow-bg-readable) h 10% 10%);
    border-bottom-color: hsl(var(--yellow-bg-readable) h 10% 10%);

    background-color: var(--yellow-bg-readable);

    padding: 1em;
}

.footnote-definition {
    .footnote-definition-label {
        font-size: smaller;
        margin: auto;
        position: relative;
    }

    p {
        font-size: smaller;
        margin: auto;
    }

    .sup {
        display: inline-block;
        margin-right: 0.5em;
        color: #ff2e88;
        font-size: inherit;
        font-weight: bold;
        vertical-align: baseline;

        &::before {
            content: "[";
        }

        &::after {
            content: "]";
        }
    }

    p:first-of-type {
        display: inline;
    }

    p:not(:first-of-type) {
        margin-top: 0.5em;
    }
}


.box {
    border-top: 6px ridge;
    border-right: 6px ridge;
    border-left: 6px ridge;
    border-bottom: 6px ridge;
    box-sizing: border-box;
    padding: 12px;
    background: papayawhip;
}

.clipboard-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    background-color: transparent;
    border: "#3D444D";
    border-radius: 3px;

    svg {
        fill: #9198A1;
        width: 16px;
        height: 16px;
    }
}

.light .clipboard-button {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
    background-color: #f3f3f3;
}

pre {
    background-color: var(#282828) !important;
    border-radius: 5px;
    border: none;
    line-height: 1.4;
    padding: 1em;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    margin-left: 4em;
    margin-right: 4em;

    code {
        background-color: transparent !important;
        color: inherit;
        border: none;
        padding: 0 !important;

        table td {
            padding: 0.4em;
        }
    }
}

.light code table td {
    color: #ffffff !important;
}

pre code table mark {
    color: unset;
    padding: 0;
    background-color: #204e8a !important;
    filter: brightness(1.1);
}

pre::-webkit-scrollbar {
    height: 8px;
}

pre::-webkit-scrollbar-thumb {
    background-color: #3D444D;
    border-radius: 4px;
}

pre::-webkit-scrollbar-track {
    background-color: #1E222A;
}

a {
    code:hover {
        background-color: transparent;
        background: transparent !important;
    }
}

code {
    background-color: var(#282828);
}

code,
pre,
kbd,
samp {
    font-size: 1.05em;
    /* slightly larger than the surrounding text */
    line-height: 1.6;
}

a.ref-link {
    font-size: 1rem;
    text-decoration: none;
}

#references {
    font-size: 0.9rem;

    dl {
        display: grid;
        overflow: hidden;
        grid-template-columns: max-content minmax(0, 1fr);
        row-gap: 0.8rem;
    }

    dt {
        grid-column-start: 1;
        padding-right: 0.8rem;
    }

    dd {
        grid-column-start: 2;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

details summary>* {
    display: inline;
    margin-left: 4pt;
}